  /* .ng-valid[required], .ng-valid.required  {
    border: 2px solid #42A948;  
  } */
  /* 
  .ng-invalid:not(form)  {
    border: 1px solid #a94442; 
  } */

a{
    cursor: pointer;
}
 
.deletecolor{
  background-color:#eacad0 !important;
}
.inactive{
    background-color:#c6e0e4 !important;
}
/* .dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0px !important;
} */

#two.nomargin{
  margin-left: 0px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #0056b3 !important;
	border: 1px solid #e9ecef !important;
  background-color: #e9ecef !important;
	background: linear-gradient(to bottom, #e9ecef 0%, #e9ecef 100%) !important;
}

.material-icons  { font-size: 18px; }
.mat-mini-fab {
  width: 35px !important;
  height: 38px !important;
}
 
 