  /* .ng-valid[required], .ng-valid.required  {
    border: 2px solid #42A948;  
  } */
  /* 
  .ng-invalid:not(form)  {
    border: 1px solid #a94442; 
  } */

a{
    cursor: pointer;
}
 
.deletecolor{
  background-color:#eacad0 !important;
}
.inactive{
    background-color:#c6e0e4 !important;
}
/* .dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0px !important;
} */

#two.nomargin{
  margin-left: 0px !important;
}