<div class="wrapper">
  <app-sidenav style="background: #43425d;"></app-sidenav>
  <div id="content">
    <app-header></app-header>
<div id="loading" *ngIf="loading1">
  <!-- <img  src="ssets/utility_images/spinner.gif" alt="Loading..." /> -->
  <i id="loading-image" class="fa fa-spinner fa-spin fa-2x"></i>
</div>
<div class="Ipage-content">
  <div class="IC-box">
    <div class="ICB-Headbar no-gutters row d-flex align-items-center">
      <div class="col-9"><img src="assets/utility_images/user.png" style="padding-right: 10px;"> Users</div>
      <!-- <div class="col-3 "></div> -->


      <!-- <div class="col-4  ICB-SearchBar">
         <img src="assets/utility_images/search2.png">
        <input class="" placeholder="Search by any table elements" type="text" [(ngModel)]="filterQuery" autocomplete="off" name="filter">
     </div> -->
      <div class="col-3 text-right">
        <button (click)="reset_form()" tooltipPosition="top" pTooltip="Add User" *ngIf="usertype == 'Admin' || usertype == 'Adminuser'"
          class="float-right btn fmat-icon-button addUserBtn" data-toggle="modal" data-target=".newuser" data-backdrop="static"
          data-keyboard="false">
          <i class="fas fa-user"></i> Add
        </button>
        <div class="btn-group" *ngIf="usertype !='User' ">

          <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{selected_type}}
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="filterUsers('allusers')">All Users</a>
            <a class="dropdown-item" *ngIf="usertype !='Adminuser' " (click)="filterUsers('Adminuser')">Admins</a>
            <a class="dropdown-item" (click)="filterUsers('User')">Users</a>
          </div>
        </div>
        <!--div class="btn-group">
                <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Last 30 days
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Generate report
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                </div>
              </div-->
      </div>
    </div>
    <br />
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Mobile</th>
            <th>UserType</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody *ngIf="tabaledata?.length != 0 ">
          <tr *ngFor="let t of tabaledata" [ngClass]="{'deletecolor':t.deleted,'inactive':t.disabled}">
            <td>{{ t.displayName }}</td>
            <td>{{ t.email }}</td>
            <td>{{ t.mobile }}</td>
            <td>{{ t.userType }}</td>
            <td valign="middle">
              <div id="button">
                <a href=""><img src="assets/utility_images/more-icon.png"> </a>

                <div id="two" [ngClass]="{'nomargin':t.deleted}">
                  <button *ngIf="t.resetPasswordToken && !t.deleted && t.status == 'Registered' " mat-mini-fab class="text fab-secondary gridActionbtngap"
                    color="secondary" tooltipPosition="top" pTooltip="Reset Password Request Sent" [ngClass]="{'unselectable':t.disabled}"
                    (click)="reset_popup(t)" data-toggle="modal" data-target=".reset">
                    <i class="material-icons">lock</i>
                  </button>
                  <button *ngIf="!t.resetPasswordToken && !t.deleted && t.status == 'Registered' " mat-mini-fab class="fab-secondary gridActionbtngap"
                    color="secondary" tooltipPosition="top" pTooltip="Reset Password Request" (click)="reset_popup(t)" data-toggle="modal"
                    data-target=".reset">
                    <i class="material-icons">lock_open</i>
                  </button>

                  <button *ngIf="!t.deleted" tooltipPosition="top" pTooltip="Edit User" (click)="edit_visible(t)" data-toggle="modal" data-target=".edit"
                    mat-mini-fab class="fab-secondary gridActionbtngap" color="secondary">
                    <i class="material-icons">create</i>
                  </button>

                  <button *ngIf="!t.deleted" tooltipPosition="top" pTooltip="Delete User" (click)="delete_popup(t,'Delete')" data-toggle="modal"
                    data-target=".delete" mat-mini-fab class="fab-secondary gridActionbtngap" color="secondary">
                    <i class="material-icons">delete_outline</i>
                  </button>
                  <button *ngIf="t.deleted" tooltipPosition="top" pTooltip="Restore User" (click)="delete_popup(t,'Restore')" data-toggle="modal"
                    data-target=".delete" mat-mini-fab class="fab-secondary" color="secondary">
                    <i class="material-icons">replay</i>
                  </button>

                  <button *ngIf="!t.disabled && !t.deleted" tooltipPosition="top" pTooltip="Disable User" mat-mini-fab class="text fab-secondary gridActionbtngap"
                    color="secondary" (click)="disable_popup(t,'disable')" data-toggle="modal" data-target=".disable"> <i
                      class="material-icons">person</i>
                  </button>

                  <button *ngIf="t.disabled && !t.deleted" tooltipPosition="top" pTooltip="Enable User" mat-mini-fab class="text fab-secondary gridActionbtngap"
                    color="secondary" (click)="disable_popup(t,'enable')" data-toggle="modal" data-target=".disable">
                    <i class="material-icons">person_add_disabled</i>
                  </button>

                  <button tooltipPosition="top" pTooltip="View" mat-mini-fab class="text fab-secondary gridActionbtngap" color="secondary"
                    (click)="viewUser(t)" data-toggle="modal" data-target=".view">
                    <i class="material-icons">visibility</i>
                  </button>

                </div>

              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="tabaledata?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        </tbody>
              <!-- <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Mobile</th>
                    <th>UserType</th>
                    <th>Options</th>
                  </tr>
                </tfoot> -->
      </table>
    </div>
  </div>
</div>

</div>
</div>

<div class="modal fade delete" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="delete_Data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{del_pop_msg}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are Sure you want to {{del_pop_msg}} this User ...
          <span>{{delete_Data.email }}</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button *ngIf="del_pop_msg === 'Delete'" type="button" (click)="delete(delete_Data)" data-dismiss="modal" class="btn btn-primary">Yes</button>
        <button *ngIf="del_pop_msg === 'Restore'" type="button" (click)="restore(delete_Data)" data-dismiss="modal" class="btn btn-primary">Yes</button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade edit" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" *ngIf="update_status">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="" [ngClass]="(nvipani)?'card1':'card'" *ngIf="update_status">
          <div class="card">
            <div class="card-header ">
              <span>Update User - {{updated_by}}</span>
            </div>
            <div class="card-body" *ngIf="update_status">
              <form method="POST" [formGroup]="profile">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="First Name" formControlName="firstName" required>
                      <mat-error *ngIf="profile.controls['firstName'].hasError('required')">firstName is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="Middle Name" formControlName="middleName">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="Last Name" formControlName="lastName">
                      <!-- <mat-error *ngIf="!profile.controls['lastName'].valid || !profile.controls['lastName'].pristine">
                                  <mat-error *ngIf="profile.controls['lastName'].hasError('required')">lastName is required</mat-error>
                                </mat-error> -->
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <input matInput placeholder="mobile" minlength="10" maxlength="10" type="text" formControlName="mobile" required onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46 ">
                      <mat-error *ngIf="profile.controls['mobile'].hasError('required')"> Mobile is required</mat-error>
                      <!-- <mat-error *ngIf="mobile.errors.pattern"> Mobile is required</mat-error> -->
                      <mat-error *ngIf="profile.controls['mobile'].hasError('pattern')"> In Valid Mobile Number</mat-error>

                    </mat-form-field>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-7">
                    <button type="submit" data-dismiss="modal" (click)="updatePrfile()" class="float-right btn btn-primary" [disabled]="!profile.valid">Save</button>
                  </div>
                </div>
              </form>

            </div>

          </div>

        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" (click)="delete(delete_Data)" data-dismiss="modal" class="btn btn-primary">Yes</button> -->
      </div>
    </div>
  </div>
</div>


<!-- Register Form POPUP-->
<button id="delete" [hidden]="true" data-toggle="modal" data-target=".delete">Open Modal</button>

<div class="modal fade disable" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="disable_Data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{(type === 'disable')?'Disable':'Enable'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are Sure you want to {{(type === 'disable')?'Disable':'Enable'}} this User ...
          <span>{{disable_Data.email }}</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" (click)="disable(disable_Data)" data-dismiss="modal" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>


<!-- Delete POPUP-->

<div class="modal fade delete" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="delete_Data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are Sure you want to Delete this User ...
          <span>{{delete_Data.email }}</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" (click)="delete(delete_Data)" data-dismiss="modal" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- Reset popup -->
<div class="modal fade reset" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="reset_Data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are Sure you want to Reset this User's Password ...
          <span>{{reset_Data.email }}</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" (click)="resetPassword(reset_Data)" data-dismiss="modal" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-->Reset popup End -->


<div class="modal fade newuser" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" [formGroup]="REG_FORM1">
          <div class="example-container1">
            <mat-form-field>
              <input matInput placeholder="Username " type="email" formControlName="username" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                (input)="onSearchChange($event.target.value)" required>
              <mat-error *ngIf="REG_FORM1.controls['username'].invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <p *ngIf="emailerror">Accepts only nvipani mails.. ex: nvipani@nivpani.com</p>
            <div class="row">

            </div>
            <!-- <input type="button" mat-raised-button type="submit" data-dismiss="modal" (click)="nvi_onSubmit()" class="float-right btn btn-primary"
              [disabled]="!REG_FORM1.valid || (!test)" color="accent"> -->
            <input type="button" mat-raised-button type="submit" data-dismiss="modal" (click)="findUser()" class="float-right btn btn-primary"
              [disabled]="!REG_FORM1.valid || (!test)" color="accent">
          </div>
          <br />

        </form>


      </div>
      <div class="modal-footer">

        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" (click)="delete(delete_Data)" data-dismiss="modal" class="btn btn-primary">Yes</button> -->
      </div>
    </div>
  </div>
</div>

<!--View Popup-->
<div class="modal fade view" *ngIf="userData" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View</h5>
        <button type="button" (click)="userData=null" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-bordered">
              <thead>  
                <tr>
                  <th colspan="2">Personal Info</th>
                  <th colspan="2">Contact Info</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Firstname</td>
                  <td>{{userData.firstName}}</td>
                  <td>Email</td>
                  <td>{{userData.email}}</td>
                </tr>
                <tr>
                  <td>Middlename</td>
                  <td>{{userData.middleName}}</td>
                  <td>Email Verified</td>
                  <td>{{(userData.emailVerified)?'Verified':'Not Verified'}}</td>
                 
                </tr>
                <tr>
                  <td>Lastname</td>
                  <td>{{userData.lastName}}</td>
                  <td>Mobile</td>
                  <td>{{userData.mobile}}</td>
                </tr>

                <tr>
                  <td>DisplayName</td>
                  <td>{{userData.displayName}}</td>
                  <td>Mobile Verified</td>
                  <td>{{(userData.mobileVerified)?'Verified':'Not Verified'}}</td>
                </tr>
                
                <tr>
                  <td>UserType</td>
                  <td>{{userData.userType}}</td>
                  <td colspan="2"></td>
                </tr>
                <tr>
                    <th colspan="4">Other Info</th>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{userData.status}}</td>
                    <td>Reset Password</td>
                    <td>{{(userData?.reset_password)?'Yes':'No'}}</td>
                </tr>
                <tr>
                    <td>Disabled</td>
                    <td>{{(userData.disabled)?'Yes':'No'}}</td>
                    <td>Deleted </td>
                    <td>{{(userData.deleted)?'Yes':'No'}}</td>
                </tr>
                <tr>
                    <td>Created Date</td> 
                    <td>{{userData.created | date:'medium'}}</td>
                    <td>Created By </td>
                    <td>{{userData.created_by.username}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" (click)="userData=null" class="btn btn-secondary" data-dismiss="modal">Close </button>
         </div>
    </div>
  </div>
</div>

<!-- View Popup end-->