<div class="wrapper">
  <app-sidenav style="background: #43425d;" (selectedpage)="selected($event)"></app-sidenav>
  <div id="content">
    <app-header></app-header>
    <div class="Ipage-content">
      <div class="IC-box">
        <div class="ICB-Headbar no-gutters row d-flex align-items-center">
          <div class="col-9">
            <img src="assets/utility_images/user.png" style="padding-right: 10px;"> USER ACTIVITIES
          </div>
          <div class="col-3 text-right">


            

              <!-- <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{selected_type}}
              </button>

              <div class="dropdown-menu" >
                <a *ngFor= "let e of events " class="dropdown-item"  >{{e}}</a>
              </div> -->

              <!-- <select class="form-control form-control-sm" (change)="filterUsers($event.target.value)">
                  <option *ngFor= "let e of events" value="{e}" >{{e}}</option>
              </select> -->

              <!-- <mat-form-field>
                <mat-select multiple placeholdesdsr="Toppings"  [(ngModel)]="events" #yearSelect="ngModel" (selectionChange)="selectAll(yearSelect,$event)">
                    <mat-option *ngIf="search">ALL</mat-option>
                  <mat-option *ngFor="let e of events" disabled="{{e.disbled}}" [value]="e.event">{{e.event}}</mat-option>
                </mat-select>
              </mat-form-field> -->
              <!-- <p-multiSelect [options]="events" [(ngModel)]="selectedEvent" (onChange)="selectAll($event)" [panelStyle]="{minWidth:'12em'}"></p-multiSelect> -->
              <angular2-multiselect [data]="events" [(ngModel)]="selectedItems" 
              [settings]="dropdownSettings" 
              (onSelect)="onItemSelect($event)" 
              (onDeSelect)="OnItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
            

          </div>
        </div>
        <br />
        <div class="table-responsive">
          <table  id="example" datatable [dtOptions]="dtOptions" class="display">
            <thead>
              <tr>
                  <th>Event</th>
                  <th>Target Type</th>
                  <th>Action</th>
                  <th>By</th>
                  <th>Options</th>
              </tr>
            </thead>
            <tbody *ngIf="tableData?.length != 0">
              <tr *ngFor="let t of tableData">

                <td>{{ t.eventType }}</td>
                <td>{{ t.eventTargetType }}</td>
                <td>{{ t.name }}</td>
                <td>{{ t.user.email }}</td>
                <td valign="middle">
              
                  <a (click)="delete_Data=t;" data-toggle="modal" data-target=".delete" data-backdrop="static"
                    data-keyboard="false"><i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="tableData?.length == 0">
              <tr>
                <td colspan="4" class="no-data-available">No data!</td>
              </tr>
            </tbody>
                <tfoot>
                    <tr>
                        <th>Event</th>
                        <th>Target Type</th>
                        <th>Action</th>
                        <th>By</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</div>