 


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #0056b3 !important;
	border: 1px solid #e9ecef !important;
  background-color: #e9ecef !important;
	background: linear-gradient(to bottom, #e9ecef 0%, #e9ecef 100%) !important;
}



.li-bg:hover{
  background-color: #5d50500a;
  border-bottom: 1px solid #fff;
}

.ul-custom{
	padding: 8px;
    background-color: rgb(246, 246, 246);
    font-size: 14px;
    font-weight: 100;
    font-family: arial;
}